@namespace Hex_DDD_Core_Template.UI.Components

<div class="component">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">@WeatherForecast.Summary</h5>
      <h6 class="card-subtitle mb-2 text-muted">@WeatherForecast.Date</h6>
      <p class="card-text">
          We can expect @WeatherForecast.TemperatureC degrees celcius or  @WeatherForecast.TemperatureF degrees Farenheit</p>
      @* <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> *@
    </div>
  </div>
</div>
